/* You can add global styles to this file, and also import other style files */
.ng2-pdf-viewer-container {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ant-modal-header {
	background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
		radial-gradient(circle at top left, #4458dc, #854fee);
}

.ant-modal-title {
	color: white;
}

.ant-modal-content {
	margin-top: 2em;
}

.ant-modal-close {
	color: white;
}
